/*
MEDIA QUERY MANAGER:

0 - 480px:          Phone
481px - 768px       Table Portrait
769px - 1024px      Table Landscape
1025px - 1200px]   Desktop Normal Styles
1201px +            Big Desktop
1em = 16px
*/


.App {
  scroll-behavior: smooth;
}

.App p {
  font-family: 'Montserrat';
  /* font-size: large; */
}




/******************  Custom Fonts ******************/

@font-face {
    font-family: 'DM Serif Text-Italic';
    src: url('./assets/fonts/DMSerifText-Italic.ttf');
}

@font-face {
  font-family: 'DM Serif Text-Regular';
  src: url('./assets/fonts/DMSerifText-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

/******************  Default Css ******************/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

img {
    width: 100%;
    height: auto;
  }

/******************  Typography ******************/

.gradient-text-color-main {
  font-size: 72px;
  background-image: linear-gradient(135deg,#02aab0,#00cdac);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}





/*/////////////////////////  COMPONENTS /////////////////////////*/

/******************  HeroSection ******************/

#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background-color: #fff;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    font-family: 'DM Serif Text-Regular';
}

.hero-title {
  font-size: 68px;
  color: #304062;
  padding-left: 6rem;
  /* background-color: red; */
}

.title-word {
  display: inline-block;
  /* background-color: white; */
}

/* -- mobile display for nav-links -- */

@media screen and (max-width: 1200px) {
  .hero-title, .gradient-text-color-main {
    font-size: 58px;
  }
}

@media screen and (max-width: 900px) {
  #hero {
    text-align: center;
  }
  .hero-title {
    padding-left: 0;
  }
}

@media screen and (max-width: 585px) {
  .hero-title, .gradient-text-color-main {
    font-size: 52px;
  }
}

@media screen and (max-width: 500px) {
  .hero-title, .gradient-text-color-main {
    font-size: 48px;
  }

  #hero {
    /* background-color: red; */
    padding: 0rem;
  }
}


  
/******************  NavBar ******************/

nav {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4em;
  z-index: 9999;
  /* background-color: #17252a; */
  /* Blur effect */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  font-family: 'Poppins';
  
}


.nav-links {
  display: flex;
  /* background-color: rgb(246, 46, 46); */
  justify-content: space-around;
  width: 40%;
  list-style: none;
}


.nav-links a {
  text-decoration: none;
  color: #304062;
  letter-spacing: 5px;
  font-weight: 200;
  /* font-size: 14px; */
}

.nav-links a:hover {
  color: #02aab0;
}

.menu {
  position: absolute;
  top: 0;
  width: 75%;
  background-color: #02aab0;
  opacity: 0.95;
  height: 100vh;
  z-index: -1;
  /* Position the menu on the right edge of the screen */
  right: 0;
  transition: transform ease-in 0.3s;
}

.menu-links {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  text-decoration: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-links a {
  text-decoration: none;
  color: #f2f2f2;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 25px;
}

/* -- mobile display for nav-links -- */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
    position: end;
  }
}

/* ---------- Burger & toggled menu --------- */

.burger-bar {
  height: 0.1875em;
  background-color: #304062;
  margin: 8px;
  border-radius: 0.09375em;
}

.burger-bar:nth-child(1) {
  width: 2.75em;
}
.burger-bar:nth-child(2) {
  width: 2em;
}
.burger-bar:nth-child(3) {
  /* justify-content: right; */
  width: 1.25em;
}

.burger {
  display: none;
}

/* ---- mobile display for burger & toggled menu ---- */

@media screen and (max-width: 768px) {
  .burger {
    display: inline;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none; 
  }
}


/* --------- sliding menu --------- */
.hidden {
  /* Slide the drawer _past_ the right edge of the screen */
  transform: translateX(100%);
  /* Transition horizontal slide */
  transition: transform ease-out 0.3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0em, 1em);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.01);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(0em, 1em);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


/******************  SideBars ******************/

.sidebar-left {
  height: 20em;
  width: 72px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 175px;
  width: 75%;
  justify-content: space-around;
  margin-top: 40px;
}

.sb-social-icons a {
  color: #304062;
  transition: transform 500ms;
}

.sb-social-icons a:hover {
  color: #02aab0;
  transform: translateY(-5px);
  size: 15px;
}


.vert-line {
  width: 2px;
  background-color: #304062;
  height: 6em;
  bottom: 0;
  position: absolute;
  border-radius: 1.5px;
}

.sidebar-right {
  height: 20em;
  width: 72px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-right a {
  writing-mode: vertical-rl;
  font-family: 'Poppins';
  font-size: 12px;
  letter-spacing: 2.75px;
  color: #304062;
  padding: 10px;
  text-decoration: none;
  transition: transform 500ms;
}

.sidebar-right a:hover {
  color: #02aab0;
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .sidebar-left {
    display: none;
  }
  .sidebar-right {
    display: none;
  }
}

/******************  Skills ******************/

#skills {
  height: 85vh;
  display: flex;
  align-items: center;
  z-index: -1;
  font-family: 'DM Serif Text-Regular';
  background-color: #02aab0;
  background-image: linear-gradient(-135deg, #02aab0 0%, #00cdac 100%);
  color: white;
}

#skills h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.toolkit {
  display: flex;
  /* background-color: #304062; */
  justify-content: space-evenly;
  max-width: 600px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.toolkit div {
  display: inline-block;
  margin: 10px;
  /* background-color: red; */
  max-width: 90px;
  font-size: large;
  font-family: 'Montserrat';
}



/******************  Projects ******************/

#projects {
  /* font-family: 'Montserrat'; */
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background-color: #fff;
  padding: 0rem 5.6rem;
  z-index: -1;
  font-family: 'DM Serif Text-Regular';
}

#projects h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
}

#projects a {
  text-decoration: none;
  color: #02aab0;
}


.proj-card {
  /* background-color: #b1d9db; */
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  padding-bottom: 20px;
}

.proj-info {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(220, 127, 33); */
  height: 100%;
  font-family: 'Montserrat';
  padding: 10px;
  margin: 10px;
  margin-right: 40px;
  max-width: 450px;
}

.proj-tech {
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  /* background-color: red; */
  /* justify-content: center; */
}

.proj-tech div {
  text-align: center;
  background-color: #fff;
  max-width: fit-content;
  border: solid;
  border-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  margin: 2px;
}

.proj-btn {
  /* text-align: center; */
  margin-top: 20px;
}

.proj-btn button {
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  border-color: #00cdac;
  color: #02aab0;
  font-size: large;
  font-weight: bold;
  transition: all 0.75s ease;
}

.proj-btn button:hover {
  transform: translateY(-2.5px);
}


.proj-img img {
  max-width: 620px;
  min-width: 350px;
  border-radius: 20px;
  border: solid;
  border-color: #00cdac;
  border-width: 2px;
}


@media screen and (max-width: 900px) {
  .proj-card {
    flex-direction: column;
    border-bottom: solid #304062;
    /* background-color: red; */
  }

  .proj-info {
    margin-right: 0;
    text-align: center;
  }

  .proj-tech {
    /* background-color: red; */
    justify-content: center;
  }

  .proj-btn {
    text-align: center;
  }
}



/******************  About ******************/

#about {
  height: 80vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-family: 'DM Serif Text-Regular';
  background-color: #02aab0;
  background-image: linear-gradient(45deg, #02aab0 0%, #00cdac 100%);
  color: white;
}

#about h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

#about div {
  /* background-color: red; */
  max-width: 900px;
}



/******************  Contact ******************/

#contact {
  height: 80vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-family: 'DM Serif Text-Regular';
  background-color: #fff;
}

#contact h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 815px;
}

.contact-btn {
  text-decoration: none;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 2px;
  border-color: #00cdac;
  font-size: larger;
  padding: 10px;
  color: #02aab0;
  transition: all 0.75s ease;
  letter-spacing: 1.5px;
}

.contact-btn:hover {
  background-color: #00cdac;
  color: white;
  border: #02aab0;
}