/*
MEDIA QUERY MANAGER:

0 - 480px:          Phone
481px - 768px       Table Portrait
769px - 1024px      Table Landscape
1025px - 1200px]   Desktop Normal Styles
1201px +            Big Desktop
1em = 16px
*/

/******************  Custom Fonts ******************/

@font-face {
    font-family: 'DM Serif Text-Italic';
    src: url('./assets/fonts/DMSerifText-Italic.ttf');
}

@font-face {
  font-family: 'DM Serif Text-Regular';
  src: url('./assets/fonts/DMSerifText-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

/******************  Default Css ******************/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

img {
    width: 100%;
    height: auto;
  }

/******************  Typography ******************/

.gradient-text-color-main {
    color: #17252a;
}


/*/////////////////////////  COMPONENTS /////////////////////////*/

/******************  HeroSection ******************/

#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: #3aafa9;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    font-family: 'DM Serif Text-Regular';
}

.hero-title {
  font-size: 64px;
  color: #f2f2f2;
}

  
/******************  NavBar ******************/


nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  z-index: 9999;
  background-color: #17252a;
  /* Blur effect */
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  font-family: 'Poppins';
  
}

.logo-icon {
  position: relative;
  height: 100%;
  width: 7.75em;
  /* background-color: red; */
  padding-left: 2.5em;
}

.logo-icon img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  background-color: transparent;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.nav-links {
  display: flex;
  /* background-color: rgb(246, 46, 46); */
  justify-content: space-around;
  width: 40%;
  list-style: none;
}


.nav-links a {
  text-decoration: none;
  color: #f2f2f2;
  letter-spacing: 5px;
  font-weight: 200;
  /* font-size: 14px; */
}

.menu {
  position: absolute;
  top: 4em;
  width: 50%;
  background-color: #17252a;
  opacity: 0.90;
  height: 100vh;
  z-index: -1;
  /* Position the menu on the right edge of the screen */
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform ease-in 0.3s;
}

.menu-links {
  width: 100%;
  height: 100%;
  padding-bottom: 25%;
  text-decoration: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-links a {
  text-decoration: none;
  color: #f2f2f2;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 25px;
}

/* -- mobile display for nav-links -- */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
    position: end;
  }
}

/* ---------- Burger & toggled menu --------- */

.burger-bar {
  width: 2.5em;
  height: 0.25em;
  background-color: white;
  margin: 8px;
  border-radius: 0.25em;
}

.burger {
  display: none;
}

/* ---- mobile display for burger & toggled menu ---- */

@media screen and (max-width: 768px) {
  .burger {
    display: inline;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none; 
  }
}

/* --------- sliding menu --------- */
.hidden {
  /* Slide the drawer _past_ the right edge of the screen */
  transform: translateX(100%);
  /* Transition horizontal slide */
  transition: transform ease-out 0.3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0em, 1.125em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.01);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(0em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


