/*
MEDIA QUERY MANAGER:

0 - 480px:          Phone
481px - 768px       Table Portrait
769px - 1024px      Table Landscape
1025px - 1200px]   Desktop Normal Styles
1201px +            Big Desktop
1em = 16px
*/

/******************  Custom Fonts ******************/

@font-face {
    font-family: 'DM Serif Text-Italic';
    src: url('./assets/fonts/DMSerifText-Italic.ttf');
}

@font-face {
  font-family: 'DM Serif Text-Regular';
  src: url('./assets/fonts/DMSerifText-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

/******************  Default Css ******************/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

img {
    width: 100%;
    height: auto;
  }

/******************  Typography ******************/

.gradient-text-color-main {
  font-size: 72px;
  background-image: linear-gradient(135deg,#02aab0,#00cdac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


/*/////////////////////////  COMPONENTS /////////////////////////*/

/******************  HeroSection ******************/

#hero {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: #fff;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    font-family: 'DM Serif Text-Regular';
}

.hero-title {
  font-size: 64px;
  color: #304062;
}

  
/******************  NavBar ******************/

nav {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  z-index: 9999;
  /* background-color: #17252a; */
  /* Blur effect */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  font-family: 'Poppins';
  
}

.nav-left {
  width: 20em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: purple; */
  height: 100%;
}

.nav-links {
  display: flex;
  /* background-color: rgb(246, 46, 46); */
  justify-content: space-around;
  width: 40%;
  list-style: none;
}


.nav-links a {
  text-decoration: none;
  color: #02aab0;
  letter-spacing: 5px;
  font-weight: 200;
  /* font-size: 14px; */
}

.menu {
  position: absolute;
  top: 0;
  width: 75%;
  background-color: #02aab0;
  opacity: 0.95;
  height: 100vh;
  z-index: -1;
  /* Position the menu on the right edge of the screen */
  right: 0;
  transition: transform ease-in 0.3s;
}

.menu-links {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  text-decoration: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-links a {
  text-decoration: none;
  color: #f2f2f2;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 25px;
}

/* -- mobile display for nav-links -- */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
    position: end;
  }
}

/* ---------- Burger & toggled menu --------- */

.burger-bar {
  height: 0.1875em;
  background-color: #00cdac;
  margin: 8px;
  border-radius: 0.09375em;
}

.burger-bar:nth-child(1) {
  width: 2.75em;
}
.burger-bar:nth-child(2) {
  width: 2em;
}
.burger-bar:nth-child(3) {
  /* justify-content: right; */
  width: 1.25em;
}

.burger {
  display: none;
}

/* ---- mobile display for burger & toggled menu ---- */

@media screen and (max-width: 768px) {
  .burger {
    display: inline;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none; 
  }
}

/* --------- sliding menu --------- */
.hidden {
  /* Slide the drawer _past_ the right edge of the screen */
  transform: translateX(100%);
  /* Transition horizontal slide */
  transition: transform ease-out 0.3s;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0em, 1em);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.01);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(0em, 1em);
  transition: ease-out 0.5s;
  background-color: #fff;
  width: 2.75em;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


/******************  SideBars ******************/

.sidebar-left {
  height: 20em;
  width: 72px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 175px;
  width: 75%;
  justify-content: space-around;
  margin-top: 40px;
}

.sb-social-icons a {
  color: #00cdac;
  transition: transform 500ms;
}

.sb-social-icons a:hover {
  color: #02aab0;
  transform: translateY(-5px);
  size: 15px;
}


.vert-line {
  width: 2px;
  background-color: #00cdac;
  height: 6em;
  bottom: 0;
  position: absolute;
  border-radius: 1.5px;
}

.sidebar-right {
  height: 20em;
  width: 72px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color:#f2f2f2;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-right a {
  writing-mode: vertical-rl;
  font-family: 'Poppins';
  font-size: 12px;
  letter-spacing: 2.75px;
  color: #00cdac;
  padding: 10px;
  text-decoration: none;
  transition: transform 500ms;
}

.sidebar-right a:hover {
  color: #02aab0;
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .sidebar-left {
    display: none;
  }
  .sidebar-right {
    display: none;
  }
}


/******************  About ******************/

#about {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: #fff;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-family: 'DM Serif Text-Regular';
  background-color: #00cdac;
}
